/*GENERALES*/
*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url(pics/fondos/fondo.png);
	margin:0px;  
	font-family: Century Gothic, Verdana, Arial;
	font-size:14px;
	font-style:normal;
	overflow-y: scroll;
	
}

.idiomas{
	float: right;
	margin: 20px;
	margin-right: 40px;
}
.idiomas a{
	color:#655777;	
}


.clear {
	clear: both;
}

.ir-arriba {
	padding:15px;
	display:inline-block;
	background:#9285a1;
	color:#fff;
	position: fixed;
	font-size:18px;
	bottom:20px;
	right:10px;
	display:none;
	opacity: 0.6;
	cursor:pointer;
	z-index: 1000;
	border-radius: 24px;
}
.ir-arriba:hover{
	opacity: 1.0;
	background: #77668B;	
}

p {
	margin: 10px;
	padding: 10px;
}

.p_without_space{
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	text-indent: 1em;
}

.cuerpo {
	position:absolute;
	left: 22%;
	top: 125px;
	width:75%;
	background:#fdfdfd;
	display:block;
	margin-right: auto;
	margin-bottom: 0px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
 } 
#cuerpo-index{
	position:absolute;
	left: 12.5%;
	top: 125px;
	width:75%;
	background:#fdfdfd;
	display:block;
	margin-right: auto;
	margin-bottom: 0px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);	
} 
 
h1 {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	color: #194965;
	border-bottom: 5px double #194965;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
h2 {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 20px;
	color: #5C6366;
	letter-spacing: 2px;
}
h3{
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 100px;
	padding-right: 20px;
	font-size: 15px;
	color: #5C6366;
}
h1:first-letter {
	font-size: 30px;
}

a {
	text-decoration:none;
	color: #9285a1;
}

a:hover {
	font-weight:bold;
	color: #655777;
}

hr{
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	height: 0;
	-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
			box-sizing: content-box;
	border: 0;
	border-top: 1px solid #ccc;
}
ul{
	list-style:none;
}
.error{
    color: #CD5C5C;
    font-weight: bold;
    font-size: 15px;
}


/*CABECERA*/
	header .logo {
		float: left;
		margin-right: 30px;
		margin-top: 10px;
		z-index: 1100;
	}
	header .logo img {
		max-height: 40px;
		float: left;
		margin-bottom:10px;
	}
/*FIN CABECERA*/

/*MENÚ*/
	#menu {
		display: inline-block;
		width: 100%;
		font-size: 14px;
			
	}
	
		header nav {
			position: absolute;
			top: 70px;
			left: 0px;
			background:#9285a1;
			z-index:1000; /*por encima de todos los elementos*/
			width:100%;
			margin:0px;
                }

			header nav ul {
				list-style: none;
				text-align: center;
			}

				header nav ul li {
					display:inline-block;
					position: relative;					
				}
				
				header nav ul li a span {
					margin-right:10px;
				}
				
				header nav ul li a, header nav ul li a:visited {
					
					color:#fff;
					display:block;
					
					text-decoration:none;
					padding: 20px;
				}
				
				header nav ul li a:hover  { 
					background: #77668B;
					color: white;
					border-radius: 20px;
					text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
					box-shadow: 3px 0px 3px #777777;
					-webkit-transition: background 0.5s ease-out,
						box-shadow 0.5s ease-out;
					font-weight:normal;

				}
				header nav ul li a:active{
					
					background: rgba(101, 87, 119, 0.8); /*#655777*/
					box-shadow: none;
					-webkit-transition: none;
				}
				
					header nav ul li:hover .children { /*al pasar sobre un elemnto de menu, se muestran los hijos*/ 
						display:block;
					}

					header nav ul li .children {
						display: none; /*si no estás encima, no se muestran*/
						background:#9285a1;
						position: absolute;
						border-radius: 20px;
						width: 150%;
						z-index:1000;
					}

					header nav ul li .children li {
						display:block;
					
						overflow: hidden;
						border-bottom: 1px solid rgba(255,255,255,0.5);
					}
					
					header nav ul li .children li:last-of-type {
						border-bottom: none;
					}

					header nav ul li .children li a {
						display: block;
					}

				header nav ul li .caret { 
					position: relative;
					font-size: 10px;
					top:4px;
					margin-left:15px;
					margin-right:0px;
				}
	
/*FIN MENÚ*/

	/*MENÚ ASIDE*/
		aside.vertical {
			border-radius: 4px;
			box-shadow: 1px 3px 5px #bbbbbb;
			text-align: right;
			position: fixed;
			top: 200px;
			bottom:auto;
			width: 20%;
			background-color: #9285a1;
			padding: 20px; 
			padding-top: 0px; 
			color: #000000;
			transition-property: top;
			transition-duration:1s;
		}
			aside.vertical #TitleMenuAside{
				text-align: center;
				font-size: 15px;
				color: #ffffff;
				padding-top: 10px;
				padding-bottom: 10px;
									
				text-shadow: 2px 2px 3px rgba(0,0,0,.3);				
			}
	
			aside.vertical > ul > li > a > img{
				max-height: 50px;
			}
			
			aside.vertical > ul > li > a {
				background-color: #D9D4E0;
				box-shadow: inset -1px -1px 3px rgba(0,0,0,0.1),
							inset 1px 1px 3px rgba(0,0,0,0.1);
				color: #000000;
				display: block;
				font-size: 12px;
				/*height: 60px;*/
				/*line-height: 50px; /*TENGO QUE ENCONTRAR DE OTRA FORMA */
				vertical-align: middle;
				padding: 10px;
			}
			
			aside.vertical > ul > li > a:hover {
				background: #9285a1; 
				color: white;
				background: linear-gradient(to bottom right, #D9D4E0 , #9285a1); 
				-webkit-transition: background 1s;
				-moz-transition: background 1s;
				-o-transition: background 1s;
				transition: background 1s;
			}					
	/*FIN MENU ASIDE*/


 /*FOOTER*/
	#footercontainer{
		position: absolute;	
		clear:both;
		bottom:0;
		display: block;
		width: 100%;
		background-image: url(pics/fondos/footer.png);
		margin-top: 20px;
		height: 70px;
	} 
	
	#authors {
		font-family: verdana, thaoma, arial;
		font-size: 12px;
		text-align: center;
		color: white;
		padding-top: 30px;
	}
	#socialFooter{
		margin: 0px;
		padding: 0px;
		display: inline-block;
		padding-right: 10px;
		margin-bottom: 10px;
		text-align: right;
		font-size: 20px;
	}
/*PAG INICIAL*/

	.imgPerfil img{
		float: right;
		width: 200px;
		margin: 20px;
		margin-left: 10px;
		border-radius: 10px;
	}
	
	.imgPerfilEng img{
		float: right;
		width: 200px;
		margin: 20px;
		margin-left: 10px;
		margin-right: 50px;
		border-radius: 20px;
	}
	
	  #social{		
		text-align: center;
		font-size: 30px;
	}	
	
	.icon-facebook2, .icon-youtube4, .icon-google-plus2, .icon-linkedin{
		padding-left: 20px;		
	}
/*FIN PAG INICIAL*/	
	
/*ANIMACIÓN SIMULACIÓN VIDEOJUEGOS*/	
	.videosbox, .videosboxS, .videosboxMAA{
		width: 48%;
		height: 480px;
		margin: 5px;
		padding: 5px;
		padding-bottom: 10px;
		padding-top: 10px;
		margin-top: 10px;
		display: inline-block;
		text-align: left;
		border: 1px;
		background: rgba(255, 203, 192, .0); /*#FFCBC0*/
		border-color: #e2e2e2;
		border-style: solid;
		border-radius: 20px;
		
		box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 5px #f1f1f1  inset;
	}
	.videosboxMAA{
		height: 370px;
	}
	.videosbox table, .videosboxS table, .videosboxMAA table{
		width: 100%;
	}
	#videoDVJ{
		width: 98%;
		height: auto;
	}
	
	
	/*.videosboxS{
		height: auto;
	}*/
	/*youtube*/
	#videoYouTube iframe, #videoYouTube-DVJ iframe{
		width: 99%;
		border-radius: 20px;
	}
	#videoYouTubeIni iframe{
		width: 100%;		
	}
		
	.videosbox #textvideo, .videosboxS #textvideo, .videosboxMAA #textvideo{
		width: 100%;
		margin-bottom: 0px;
	}
	.videosbox video, .videosboxS video, .videosboxMAA video{
		display: inline-block;
		position: relative;
		width: 100%;
		border: 1px solid #aaaaaa;
		border-radius: 10px;
		margin-bottom: 0;
		cursor: pointer;
	}
	.textRefSim{
		text-align: right;
		margin-top: 0px;
	}
	
	/*Controles*/
		#ControlVideo{
			width: 100%;
		}
		progress{
			width: 100%;
			background-color: #b3b3b3;  
			border: 0;  
			height: 5px;  
			padding: 0;
			margin: 0;
			cursor: pointer;
		}
		progress::-webkit-progress-value {
			border-radius: 5px;
			background:#9285a1;
		}
		progress::-moz-progress-bar {  
			background: #9285a1;
			border-radius: 5px;
		} 
		input[type=range] {
			-webkit-appearance: none;
			width: 25%;
			background: transparent;
		}
		input[type=range]:focus{
			outline:0px;
		}
		input[type=range]::-webkit-slider-runnable-track {
			width: 100%;
			height: 4px;
			cursor: pointer;
			box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.51), 0px 0px 0.5px rgba(13, 13, 13, 0.51);
			border: none;
			background: #b3b3b3; 
			border-radius: 1.5px;
		  
		}
		input[type=range]::-webkit-slider-thumb {
			box-shadow: 1px 1px 1px #000031, 0px 0px 1px #00004b;
			border: none;
			height: 20px;
			width: 20%;
			border-radius: 10px;
			background: #9285a1;
			cursor: pointer;
			-webkit-appearance: none;
			margin-top: -10px;
		}

		input[type=range]::-moz-range-track {
			width: 100%;
			height: 4px;
			cursor: pointer;
			box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.51), 0px 0px 0.5px rgba(13, 13, 13, 0.51);
			border: none;
			background: #b3b3b3; 
			border-radius: 1.5px;
		}
		input[type=range]::-moz-range-thumb {
			box-shadow: 1px 1px 1px #000031, 0px 0px 1px #00004b;
			border: none;
			height: 20px;
			width: 20%;
			border-radius: 10px;
			background: #86a9ce;
			cursor: pointer;
			-webkit-appearance: none;
			margin-top: -10px;
		}

		button{
			height: 25px;
			width: 25px;
			margin: 5px;
			background-size: cover;
			border: none;
			border-radius: 13px;
			box-shadow: 1px 1px 2px #B5C1C5;
		}
		button:focus{
			outline:0px;
		}
		button:active{
			box-shadow: inset 2px 2px 2px #808080, inset -2px -2px 2px #808080;
		}
		.controlButtons, .tiempo, .rightControl {			
			display:inline-block;
		}
		.rightControl{
			float: right;
			text-align: right;
			width: 40%;
		}
		
		.play{
			background-image: url("pics/controlVideo/play.png");
			cursor: pointer;}
		.stop{
			background-image: url("pics/controlVideo/stop.png");
			cursor: pointer;}
		.avanz{
			background-image: url("pics/controlVideo/forward.png");
			cursor: pointer;}
		.maxVentana{
			background-image: url("pics/controlVideo/maxi.png");
			cursor: pointer;}
		.imgVol{
			width: 30px;
			cursor: pointer;}
		.tiempo{
			font-size: 11px;
			float: right;
			margin-top: 10px;
			margin-left: 10px;
		}
		.volumen{
			height: 20px;
		}
	/*Fin controles*/	
	
	
	/*Zona interacción*/
	.CanvasSim {
		width: 95%;
		margin: auto;
		margin-top: 5px;
		padding: 5px;
		border: 1px;		
		background: rgba(255, 203, 192, .5); /*#FFCBC0*/
		border-color: #FFCBC0;
		border-style: solid;
		border-radius: 20px;		
		box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 5px #f7f7f7  inset;
		display: block;
		text-align: center;
	}
	
	.CanvasSimPeque{
		width: 48%;
		margin: auto;
		margin-top: 5px;
		padding: 2px;
		border: 1px;		
		
		border-color: #FFCBC0;
		border-style: solid;
		border-radius: 20px;		
		display: inline-block;
		
	}
	.CanvasSpecial{
		width: 95%;
		margin: auto;
		margin-top: 5px;
		padding: 2px;
		border: 1px;		
		
		border-color: #FFCBC0;
		border-style: solid;
		border-radius: 20px;		
		display: inline-block;
	}
	.EleccionSim{
		width: 95%;
		margin: auto;
		margin-top: 5px;
		padding: 5px;			
		display: block;
		text-align: center;
	}
	.portadaPartic{
		width: 45%;
		margin: 2px;
		border-radius: 20px;
		border: 1px solid #ccc;
	}
	.portadaPartic:hover{
		box-shadow: 0px 0px 7px #c0c0c0;
	}
/*FIN ANIMACIÓN SIMULACIÓN*/

/*PROM*/
	#listaEjProm {
		margin-left: 20px;
		margin-right: 20px;
	}
	#listaEjProm li{
		margin-bottom: 10px;	
		padding-left: 20px; 
		color: black;
		border-bottom: 1px solid #ccc;
	}
	#listaEjProm li a{
		color: black;
	}

/*FIN PROM*/	
	/*AUDIOS*/
		#audiosbox{
			margin: 20px;
			text-align: center;
		}
		#listaAudiosbox{
			margin-left: 50px;
		}
		.musica{
			padding: 5px;
			border-bottom: 1px solid #ccc;
			border-radius: 5px;
			cursor: pointer;
		}
		#audiosbox audio{
			width: 80%;
		}
		
	/*FIN AUDIOS*/

	/*CANVAS - X3DOM TIC-TAC-TOE*/
		#playersbox{			
				width: 30%;
				margin: 10px;
				padding: 15px;
				padding-bottom: 10px;
				padding-top: 10px;
				margin-top: 20px;
				display: inline-block;
				text-align: left;
				border: 1px;
				background: rgba(255, 203, 192, .5); /*#FFCBC0*/
				border-color: #FFCBC0;
				border-style: solid;
				border-radius: 20px;			
				box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 5px #f7f7f7  inset;
			}
			#playersbox input[type=text]{
				width: 90%;
				border-radius: 5px;
				margin-bottom: 2%;
				padding: 7px 6px;
				border: 1px solid #ccc;
				box-shadow: 0 0 0 1px #eef5f7;
			}
			#playersbox input[type=radio]{
				border: none;
				width: auto;
				margin-bottom: 5%;
				padding: 7px 6px;
			}
			#playersbox input[type=color]{
				margin-bottom: 2%;
				margin-left: 15px;
				border: 1px solid #ccc;
				border-radius: 5px;
				box-shadow: 0 0 0 1px #eef5f7;
			}
			#playersbox input[type=submit]{
				width: 60%;
				margin-left: 20%;
				height: 35px;
				font-weight: bold;
				border-radius: 10px;
				border: none;
				margin-top: 3%;
				background-color: #9285a1;
				cursor:pointer;
				box-shadow: 2px 0px 3px #777777
			}

			#playersbox  input[type=submit]:hover {
				background: #77668B;
				box-shadow: none;
				border: 1px solid #777777;
			}
			#playersbox  input[type=submit]:active {
				background: #655777;
				box-shadow: none;
				border: 1px solid #777777;
				color: white;
			}
		#tablerobox{
			margin: 10px;
			margin-top: 20px;
			vertical-align: top;
			display: inline-block;
			width: 60%;
			text-align: center;
		}
		#player2, #player1{
			display: block;
		}
		#player2{
			padding-left: 5px;
			border-left: none;
			border-top: 1px solid #ccc;
		}
	/*FIN CANVAS - X3DOM TIC-TAC-TOE*/
	
	/*ThreeJS*/
		#ThreeJS{
			text-align: center;
			margin: 20px;
		}
		.menuThreeJS{
			min-width: 952px;
		}
		.cuerpoThreeJS{
			min-width: 737px;
		}		
	/*FIN ThreeJS*/
	
	/*D3js*/
		.menuD3JS{
			min-width: 710px;
		}
		#cuerpoD3JS{
			min-width: 520px;
		}
		#D3js{
			text-align: center;
			padding: 10px;
		}
		#D3js iframe{
			width: 500px;
			height: 550px;
			border: 2px solid #ccc;
			border-radius: 20px;
		}
	/*FIN D3js*/
	
/*CONTACTO*/
	#contactobox{
		width: 90%;
		height: 70%;
		margin: 0 auto;
		margin-left: 5%;
		display: inline-block;
		padding-bottom: 20px;
		text-align: left;
		border: 1px;
		background: rgba(255, 203, 192, .5); /*FFCBC0*/
		
		border-color: #FFCBC0;
		border-style: solid;
		border-radius: 20px;
		padding: 30px;
		margin-top: 6px;
		box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 5px #f7f7f7  inset;
		
		
	}
	
	#formcontact, #mapcontact{
		width: 100%;
		display: inline-block;
		vertical-align: top;
		
	}
	.contact .peque{
		font-size: 10px;
		margin-right: 25px;
		text-align: right;
	}
	.contact legend{
		padding-bottom: 15px;
	}
	.contact input{
		width: 80%;
		border-radius: 5px;
		margin-bottom: 2%;
		padding: 7px 6px;
		border: 1px solid #ccc;
		box-shadow: 0 0 0 1px #eef5f7;
	}
	.contact input[type=radio]{
		border: none;
		width: auto;
	}
	.contact textarea{
		font-family: verdana, arial;
		width: 86%;
		max-width: 86%;
		margin-bottom: 2%;
		padding: 7px 6px;
		border-radius: 5px;
		border: 1px solid #ccc;
		box-shadow: 0 0 0 1px #eef5f7;
	}
	.contact input:required{
		border-color: red;
	}
	.contact input:required:focus{
		border-color: #ccc;
	}
	.contact textarea:required{
		border-color: red;
	}
	.contact textarea:required:focus{
		border-color: #ccc;
	}
	.contact input[type=submit]{
		width: 25%;
		margin-left: 50%;
		height: 35px;
		font-weight: bold;
		border-radius: 10px;
		border: none;
		margin-top: 3%;
		background-color: #9285a1;
		cursor:pointer;
		box-shadow: 2px 0px 3px #777777
	}

	.contact  input[type=submit]:hover {
		background: #77668B;
		box-shadow: none;
		border: 1px solid #777777;
	}
	.contact  input[type=submit]:active {
		background: #655777;
		box-shadow: none;
		border: 1px solid #777777;
		color: white;
	}
	
	#telcontact p{
		margin-bottom: 0px;
	}
	
	#mapabox{
		width: 100%;
		height: 300px;
		border-radius: 5px;
		border: 1px solid #ccc;
		box-shadow: 0 0 0 1px #eef5f7;
	}
/* FIN CONTACTO */
